<div class="row">
  <div class="col-md-2 left">
    {{~#link-to 'application'}}
      <h1 id="united_states_of_baseball">United States of Baseball</h1>
    {{~/link-to}}

    <p>
      Based on OPS
    </p>

    <p>
      Try clicking on:
      <ul>
        <li>Arizona</li>
        <li>California</li>
        <li>Georgia</li>
        <li>Maine</li>
        <li>Massachusetts</li>
        <li>New York</li>
        <li>Texas</li>
      </ul>
    </p>
  </div>

  <div class="col-md-6">
    <div id="map">
    </div>
  </div>

  <div id="team" class="col-md-4">
    {{outlet}}
  </div>
</div>

<script src="/javascripts/state_map.js"></script>
