<script type="text/x-handlebars" data-template-name="teams">
  <div class="row">
    <div class="col-md-6">
      <div id="map">
      </div>
    </div>

    <div class="col-md-6">
      <h1 id="united_states_of_baseball">United States of Baseball</h1>

      {{outlet}}
    </div>
  </div>

  <%= javascript_include_tag "state_map" %>
</script>

<script type="text/x-handlebars" data-template-name="teams/index">
  <p>
    Select a state from the map
  </p>
</script>
