---
title: The United States of Baseball
---

<div class="row">
  <div class="col-md-12">
    <h1 id="united_states_of_baseball">United States of Baseball</h1>
  </div>
</div>

<%= partial "templates/teams" %>

<%= partial "templates/team" %>
